// * VARIABLES
$black: #1D1D1B;
$white: #FFF;
$accent-color: #E8C967;

// * ANCHOR Responsive Design
@mixin ipad {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin iphone-8 {
    @media screen and (max-width: 540px) {
        @content;
    }
}

@mixin iphone-x {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin iphone-5 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    // letter-spacing: .5px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $black;
    color: $white;
}

section {
    padding: 50px 0;
    @include iphone-8 {
        padding: 15px 0;
    }
}



// * ANCHOR UTILS
@import './utils/reset';
@import './utils/wrapper';
@import './utils/icons';

// * ANCHOR COMPONENTS
@import './components/header';
@import './components/button';
@import './components/hero';
@import './components/services';
@import './components/columns';
@import './components/textfeat';
@import './components/air';
@import './components/testimony';
@import './components/imagefeat';
@import './components/listing';
@import './components/footer';