* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #1D1D1B;
  color: #FFF;
}

section {
  padding: 50px 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address Firefox 3+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
  *    Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * 1. Address box sizing set to content-box in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  * 3. Remove excess padding in IE 7.
  *    Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Remove inner padding and border in Firefox 3+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * 1. Remove default vertical scrollbar in IE 6/7/8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.u-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.c-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.c-header__item {
  margin-right: 24px;
}

.c-header__link {
  color: #FFF;
  text-decoration: none;
}

.c-header__link:hover {
  color: #E8C967;
}

.c-button {
  background: #E8C967;
  padding: 5px 15px;
  border: none;
  display: block;
  margin: 0;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.c-button:hover {
  background: #deb125;
}

.c-button--big {
  padding: 15px 30px;
  margin: 0 auto;
}

.c-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-hero__image {
  width: 400px;
}

.c-hero__text {
  max-width: 1025px;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.c-hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-hero__input {
  background: rgba(255, 255, 255, 0.6);
  width: 250px;
  border: none;
  padding: 16px 10px;
  outline: none;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  margin-bottom: 10px;
}

.c-hero__input:focus {
  background: #FFF;
}

.c-hero__input::-webkit-input-placeholder {
  text-align: center;
}

.c-hero__input:-ms-input-placeholder {
  text-align: center;
}

.c-hero__input::-ms-input-placeholder {
  text-align: center;
}

.c-hero__input::placeholder {
  text-align: center;
}

.c-services {
  background: #FFF;
  color: #1D1D1B;
}

.c-services__title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 0;
  font-weight: 700;
}

.c-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.c-columns--three {
  -ms-grid-columns: (24%)[3];
      grid-template-columns: repeat(3, 24%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 30px;
}

.c-columns__element-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.c-columns__element-text {
  color: rgba(255, 255, 255, 0.3);
}

.c-columns__list {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
  color: #6c6c65;
  font-weight: bold;
}

.c-columns__item {
  font-weight: 700;
}

.c-textfeat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-textfeat__main {
  width: 40%;
  text-align: center;
}

.c-textfeat__secondary {
  width: 57%;
}

.c-textfeat__title {
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

.c-textfeat__subtitle {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

.c-textfeat__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
}

.c-air--picture {
  padding: 0;
  height: 600px;
}

.c-air--testimony {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-air__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.c-testimony {
  width: 620px;
  margin: 0 auto;
  text-align: center;
}

.c-testimony__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.c-testimony__text {
  font-size: 1.5em;
}

.c-testimony__author {
  color: rgba(255, 255, 255, 0.7);
}

.c-imagefeat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imagefeat__image {
  width: 48%;
}

.c-imagefeat__text-container {
  width: 45%;
}

.c-imagefeat__title {
  font-size: 2.3em;
}

.c-imagefeat__text {
  color: rgba(255, 255, 255, 0.3);
  width: 60%;
}

.c-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-listing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.c-listing__item {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.3);
}

.c-listing__item::after {
  content: '-';
  margin-left: 5px;
}

.c-listing__item--last::after {
  content: none;
}
/*# sourceMappingURL=style.css.map */