.c-testimony {
    width: 620px;
    margin: 0 auto;
    text-align: center;

    &__image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__text {
        font-size: 1.5em;
    }

    &__author {
        color: rgba($white, .7);
    }
}